body {
    background-color: #0f0f0f;
    color: #d1d1d1;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
}

.isryskintas {
    font-family: 'League Spartan', arial !important;
    font-size: 50px !important;
    text-align: center;
}

.pavadinimas {
    letter-spacing: 4px;
    margin: 100px 100px 100px 100px;
    text-align: center;
    font-size: 60px !important;
    font-family: 'League Spartan', arial !important;

}

* {
    box-sizing: border-box;
}

.skiltis {
    float: left;
    width: 50%;
    padding: 10px;
    /*height: 300px; Should be removed. Only for demonstration */
    border: 10px solid #0f0f0f;
    border-radius: 15px !important;
    background-color: #333333;
}

.eile:after {
    content: "";
    display: table;
    clear: both;
}

.padas {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

@media (max-width: 750px) {
    .skiltis {
        width: 100%;
    }
}

i {
    padding: 10px 15px;
}

a {
	color: #d1d1d1;
}

a:hover {
	color: white;
}

::selection {
	color: #0f0f0f;
	background-color: #d1d1d1;
}

::-moz-selection {
	color: #0f0f0f;
	background-color: #d1d1d1;
}

@font-face {
    font-family: 'League-Spartan';
    src:url('.assets/fonts/League-Spartan-Regular.ttf.woff') format('woff'),
        url('.assets/fonts/League-Spartan-Regular.ttf.svg#League-Spartan-Regular') format('svg'),
        url('.assets/fonts/League-Spartan-Regular.ttf.eot'),
        url('.assets/fonts/League-Spartan-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
} /*Mano megstamiausias sriftas :) */